 /* CSS styles for the sign-in page */
 body {
    background-image: url("G10473-EC.jpg");
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
  }
  
  .container {
    width: 500px;
    height: 600px;
    margin:300px auto;
    background-color: rgba(221, 215, 215, 0.349);
    padding: 20px 30px 20px 20px;
    border-radius: 5px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    font-size: larger;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
  }
  
  .cancel-btn,
  .signin-btn {
    padding: 10px 20px;
    border-radius: 3px;
    border: none;
    color: #fff;
    cursor: pointer;
  }
  
  .cancel-btn {
    background-color: #27ac1f;
    margin-right: 10px;
  }
  
  .signin-btn {
    background-color: #27ac1f;
  }