*{
  margin: 0;
  scroll-behavior: smooth;
  padding: 0;
}
body {
    background-image: url("home.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    background-color: #fff;
    overflow-x: hidden;
  }
  #webLogo{
    width: 20vw;
    height: 20vw;
    margin: 30px 40vw 10px 40vw;
    border-radius: 50%;
  }

  .navbar {
    width: 100%;
    background-color: #501b1d;
    color: #fff;
    padding: 10px;
    display: flex;
    /* justify-content:space-evenly; */
    position: fixed;
    align-items: center;
  }

  h2{
    font-size: 2.5em;
    margin-bottom: 20px;
  }
  .navbar a {
    color: #fff;
    text-decoration: none;
    margin-left: 100px;
    display: flex;
    font-size: 1.3rem;
    font-weight: 600;
    align-items: center;
  }
  #navigations{
    display: flex;
    width: 40%;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 600;
    margin-right: 40px;
  }

  .profile-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 5px;
  }

  .logo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
  }
  #profile{
    width: 20%;
  }

  /* .horizontal-line {
    display: inline-block;
    width: 1px;
    height: 20px;
    background-color: #fff;
    margin: 0 10px;
  } */

  .big-heading {
    background-color: #501b1d;
    width: 50vw;
    color: #fff;
    font-size: 36px;
    margin: 150px 25vw 0 25vw;
    text-align: center;
  }

  .details-boxes {
    width: 70%;
    margin-top: 100px;
    margin: 50px auto;
    height: 50%;
    /* display: flex;
    justify-content: space-between; */
  }

  .details-box {
    background-color:#804c1bcd;
    padding: 40px;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 20px;
  }

  .details-box h2 {
    color: #fff;
    text-decoration: underline;
    font-size: 24px;
  }

  .details-box p {
    color:#ffffff ;
    line-height:50px;
    word-spacing:15px;
  }
  .footer  {
     margin-left:0px;
     padding: 15px;
     background-color: 	#501b1d;
     color: #edf4f5;
     height: 50px;
     display: flex;
     /* justify-content: center; */
     align-items: center;
     font-size: 1.2rem;
 }
.navbar p{
  display:inline-block;
  font-size: 1.3rem;
}
